
/* Smartphone em modo paisagem */


 body{
    width: 100%;
    overflow: hidden;
 }   

@media only screen and (max-device-width : 736px)  and (orientation: landscape){
        
        .box_login {
            height: 100%!important;
            width: 98%!important;
            
            overflow: scroll!important;
            position: fixed;
            padding: 0px 0px 0px 0px!important;
            margin-top: 0!important;
            margin-left: auto!important;
            margin-right: auto!important;
            

    }

        .vform{
            width: 75%;
            float: right;
            position: absolute;
            margin-left: 30%;
        }

       #user , #pass{
        padding: 1%!important;
        width: 55%;
        min-height: 45%;
        font-size: 50pt;
        margin: 3px;
        
    } 

       #btn_login{
        width: 35%;
        margin: 10px 0px 0px 45px!important;
        padding-top: 3%!important;
        padding-bottom: 3%!important; 
        font-size: 190%;
        font-weight: bold;
        
    }

       #btn_forgot{
        width: 39%;
        margin: 10px 0px 0px 20px!important;
        padding-top: 3%!important;
        padding-bottom: 3%!important; 
        font-size: 170%;
        font-weight: bold;
        
    }


/* tamanho do texto "label" dos campso de texto */
    label{
        font-size: 2.6em;
        line-height: 130%!important;
        
    }
/* solução encontrada para alinhar os textos e caixas do "form" */
    .field2{
        text-indent: 5.2%!important;

    }

    .logo{
        width: 40%;
        float: left;
        
        
    }

}