		/* dimensão do conteudo - Editado por Diogo Fagundes */
		.mdl-layout__content{
			width: 100%;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-flow: column nowrap;
			-ms-flex-flow: column nowrap;
			flex-flow: column nowrap;
		}
		
		.mdl-layout__content > *:not(.mdl-layout-spacer) {
			-webkit-flex: none;
			-ms-flex: none;
			flex: none;
		}

		/*edição das cell dentro do grid */
		.mdl-cell{
			background-color: #eeeeee;
		}


		/*edição de tamanho e posicionamento do card além da cor principal */
		.mdl-card{
			width: 90%;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 8%;
			margin-top: 4%;
			background-color: #22aae2;
		}

		/* edição da cor do titulo do card */
		.mdl-card__title{
		color: #fff;
		}

		/* edição da parte de baixo do card */
		.mdl-card--border{
			background-color: #44ccf4;
		}

			/* cor do card menu (topo perto do titulo)*/
		.demonstracao-card > .mdl-card__menu{
		color: #fff;
		
		}
		
		/* alinhamento da imagem do usuario , cor e estilo da fonte de exibição do nome do mesmo */
		.avatar_box{
			margin-left: auto!important;
			margin-right: auto!important;
			color: #78909c !important;
			font-weight: bold;
		}

		/* alinhamento do spinner para ficar no nível do botão*/
		 .mdl-spinner{
			display: inline!important;
			float: left!important;
		}

		/* dando prioridade à esquerda para o botão */
		.mdl-card--border > #cb{
			display: inline!important;
			float: left;
		}

		/* alinhando o objeto à direita */
		.share{
			display: inline!important;
			float: right!important;
		}