		/* dimensão do conteudo */
		.mdl-layout__content{
			width: 100%;
		}

		/*edição das cell dentro do grid */
		.mdl-cell{
			background-color: #dddddd;
		}

		.mdl-card{
			width: 90%;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 10%;
		}

		.avatar_box{
			margin-left: auto!important;
			margin-right: auto!important;
			color: #78909c !important;
			font-weight: bold;
		}

