#site{
    /* Definimos a largura da página */
    width: 98%;
   

    /* Definirmos a altura da página*/
    height: 99%!important;

    
    /* Aqui definiremos a posição que a página ocupará na tela, nesse caso estamos definindo que fique centralizado na tela*/
    /*top : posição de cima */
    margin-top:0;
    /* left: posição de esquerda*/
    margin-left:auto;
    /* bottom : posição de baixo */
    margin-bottom:0;
    /* right : posição de direita */
    margin-right:auto;
    /* Aqui definiremos a cor de fundo da página */
    background-color:#666;
    overflow: hidden;

    position: fixed;
}

#header{
    /*Novamente definimos a largura da div*/
    width:100%;
    /* altura da div */
    height:10%!important;
    /* Cor de fundo da div */
    background-color:#00F;

    margin-top:-1%!important;
    /* left: posição de esquerda*/
    margin-left:auto;
    /* bottom : posição de baixo */
    margin-bottom:0;
    /* right : posição de direita */
    margin-right:auto;

    overflow: hidden;

    position: absolute;
    
    }

#conteudo{
    /*Novamente definimos a largura da div*/
    width:99%;
    /* altura da div */
    height:80%!important;
    /* Cor de fundo da div */
    background-color:#0F0;

    margin-top:0;
    /* left: posição de esquerda*/
    margin-left:auto;
    /* bottom : posição de baixo */
    margin-bottom:0;
    /* right : posição de direita */
    margin-right:auto;

    overflow: hidden; 
}  
#footer{
    /*Novamente definimos a largura da div*/
    width:99%;
    /* altura da div */
    height:100px;
    /* Cor de fundo da div */
    background-color:#C3C;

    margin-top:0;
    /* left: posição de esquerda*/
    margin-left:auto;
    /* bottom : posição de baixo */
    margin-bottom:10px;
    /* right : posição de direita */
    margin-right:auto;

    overflow: hidden;
    }


#conteudo-left{

    /*Novamente definimos a largura da div*/
    position: absolute;
    width:25%;
    min-width: 20%;
    min-height: 55%;
    height: 55%;
    /* altura da div */
   /* height:400px; */
    /* O atributo Float é utilizado para fazermos o nosso bloco(div) literalmente flutue e se posicione onde queremos na página, quando escolhemos left, dizemos que esse bloco irá se posicionar na parte esquerda da página */
    float:left;
    /* Cor de fundo da div */
    background-color:#FF0;

    /* left: posição de esquerda*/
    margin-left:auto;
    /* bottom : posição de baixo */
    /* right : posição de direita */
    margin-right:auto;
    margin-top: 4%;
    
    }

#conteudo-right{
    /*Novamente definimos a largura da div*/
    width:74.5%;
    /* altura da div */
    height:82%;
    /* Pode parecer meio estranho usarmos o mesmo atributo left para o bloco em que queremos posicionar na direita, mas como sabemos, o css é um estilo em cascata, nossa div conteúdo definimos a largura de 1000px e na conteudo-left 500px,
automaticamente ao definirmos o conteudo-right com 500px e à esquerda também, ele ficou à direita do conteudo-left, pois o máximo que a div filha poderá ter é 1000px, sendo 500+500=1000px */
    float:right;
    /* Cor de fundo da div */
    background-color:#F00;

    margin-top: 4%;
    /* left: posição de esquerda*/
    margin-left:auto;
    /* bottom : posição de baixo */
    margin-bottom:0;
    /* right : posição de direita */
    margin-right:.2%;
    }


