

.nome_painel { 
	display: block; 
	background-color: #56707a;
  width: 98%;
  
  margin-right: auto;

}


.nome_painel ul  { 
	clear: both;
	list-style: none; 
	margin-right: auto;
	padding: 0; 
	z-index: 100;
}


.nome_painel ul > li {  position: relative; }

.nome_painel ul > li a { 
 display: block;
 text-decoration: none;
  
  color: #cccccc;
   background: #56707a;
   padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    font-family: arial;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    transition: 0.2s;
}



.nome_painel ul > li ul { display: none; position: absolute; visibility: hidden; vertical-align: middle; padding: 0; width: 100%;}
.nome_painel ul > li:hover ul { display: block; visibility: visible; }



ul li a:hover{
	color: #56707a;
    font-weight: bold;
    background: rgb(64,196,255);
     text-shadow: 1px 1px 1px rgba(0,0,0,.2); 
   }



