ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 150px;
    }

ul li {
    position: relative;
    }

 li ul {
    position: absolute;
    left: 149px;
    top: 0;
    display: none;
    }

 ul li a {
    display: block;
    text-decoration: none;
    color: #cccccc;
    background: #56707a;
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    font-family: arial;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}

/* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; }
* html ul li a { height: 1%; }
/* End */

li:hover ul { display: block; }

ul li a:hover{
	color: #56707a;
    font-weight: bold;
    background: rgb(64,196,255);
     text-shadow: 1px 1px 1px rgba(0,0,0,.2); }

.nome_painel{
	background-color: #56707a;
	width: 150px;
	float: left;
}

body{
	background-color: #BBBBBB;
	 
}


.quadro_login{
	background-color: #56707a;
	width: 400px;
	padding: 20px;
    border: 1px;
    text-align: center;
    color: #cccccc;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    box-shadow: 0px 0px 10px rgba(0,0,0,.6);
    font-family: arial;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}


div#interface {
	width: 1100px;
	background-color: #FFFFFF;
	margin: 0px auto 0px 90px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	padding: 10px;
	position: absolute;
    vertical-align: middle;

		
}

#btn_esq , #btn_entrar {
	color: #eeeeee;
    background: #234047;

}

#btn_esq:hover , #btn_entrar:hover {
	color: #234047;
    background: rgb(64,196,255)

}

section#corpo{
		display: block;
		width: 850px;
		float: right;
		border-left: 1px solid #56707a;
		padding-left: 15px;
		color:  #234047;
		font-family: arial;
}